# ignore these C-related files.
*.out
*.stackdump

# ignore these vi-related files.
*.swp
*.swo

#ignore these Windows-related files.
*.exe

# ignore this directory. Used for example programs from book chapters.
examples
exploring
